{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card center-block mx-auto" style="width: 700px;">

    <div>
        <div class="card-header">
            Register
        </div>

        <form action method="POST" style="padding: 15px;">
            {% csrf_token %}
            <fieldset>
                {{ form | crispy }}
            </fieldset>

            <div class="form-submit">
                <button class="btn btn-success" type="submit">Sign Up</button>
            </div>
            <div>
                <span class="text-muted">
                    <a href="{% url 'login' %}">Login</a>

                </span>
            </div>
        </form>
    </div>
</div>

{% endblock %}
