.container {
    display: flex;
}
.form-input {
    margin: 10px;
}
.tasks-list {
    overflow-y: scroll;
    width: 100%;
}
.task {
    display: flex;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
}

.low{
    background-color: #aefcb7;
}
.normal{
    background-color: #fce7ae;
}
.high {
    background-color: #f56c6c;
}