
<div id="tasks"
    class="tasks-list"
    hx-target="#tasks"
    hx-swap="outerHTML">
    <button
        class="btn btn-secondary btn-sort"
        hx-get="{% url 'tasks' %}"
        hx-vals='{"order": "priority"}'>
        Show high priority on top
    </button>
    {% for task_i in tasks %}
    <div class="task-container">
        <div
            class="task {% if task_i.priority == 0 %} low {% endif %} {% if task_i.priority == 1 %} normal {% endif %} {% if task_i.priority == 2 %} high {% endif %} {% if task_i.is_completed %} completed {% endif %}">
            <div>
                <div>Title: {{ task_i.name }}</div>
                <div>Description: {{ task_i.desc }}</div>
            </div>
            <div class="btn-group" role="group">

                {% if not task_i.is_completed %}

                <button type="button" class="btn btn-link"
                    data-toggle="modal" data-target="#edit{{ task_i.id }}">
                    Edit
                </button>
                <div class="modal fade" data-backdrop='false'
                    id="edit{{ task_i.id }}"
                    tabindex="-1"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form hx-put="{% url 'task' task_i.id %}"
                                hx-target="#tasks"
                                hx-swap="outerHTML">
                                <div class="modal-header">
                                    <h5 class="modal-title"
                                        id="exampleModalLabel">Edit task</h5>
                                    <button type="button" class="close"
                                        data-dismiss="modal"
                                        aria-label="Close">
                                        <span
                                            aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <div class="modal-body">
                                        <label>Name</label>
                                        <div>
                                            <input
                                                class="form-control form-input"
                                                type="text"
                                                name="name" id="name"
                                                value="{{ task_i.name }}"
                                                required
                                                size="40">
                                        </div>
                                        <label>Description</label>
                                        <div>
                                            <input
                                                class="form-control form-input"
                                                type="text"
                                                name="desc" id="desc"
                                                value="{{ task_i.desc }}"
                                                required
                                                size="40">
                                        </div>
                                        <label>Description</label>
                                        <div>
                                            <select
                                                class="form-control form-input"
                                                id="priority"
                                                name="priority"
                                                selected="{{ task_i.priority}}">
                                                <option value="{{0}}"
                                                    {% if task_i.priority == 0 %} 
                                                    selected
                                                    {% endif %}>Low</option>
                                                <option
                                                    value="{{1}}"
                                                    {% if task_i.priority == 1 %} 
                                                    selected
                                                    {% endif %}>Normal</option>
                                                <option
                                                    value="{{2}}"
                                                    {% if task_i.priority == 2 %} 
                                                    selected
                                                    {% endif %}>High</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button"
                                        class="btn btn-secondary"
                                        data-dismiss="modal">Close</button>
                                    <button type="submit"
                                        class="btn btn-primary">Save
                                        changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-link"
                    hx-put="{% url 'task' task_i.id %}" hx-vals='{"name": "{{task_i.name}}", "desc": "{{task_i.desc}}", "is_completed": "True"}'>Mark
                    completed
                </button>
                {% endif %}

                <button type="button" class="btn btn-link"
                    hx-delete="{% url 'task' task_i.id %}">Delete</button>
            </div>

        </div>
    </div>
    {% endfor %}
</div>